Weather Minder/Weather Minder.xcodeproj/project.xcworkspace/xcuserdata/nasir.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Weather Minder/Weather Minder.xcodeproj/xcuserdata/nasir.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
